* html {
  font: 18px/1.618 Magnila;
}

body {
  background-color: rgb(88, 76, 88);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #d63939;
}

.sidebar .close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.open-button {
  font-size: 20px;
  cursor: grab;
  background-color: rgb(17, 17, 17);
  color: rgb(116, 114, 115);
  padding: 10px 15px;
  border: none;
}

.open-button:hover {
  background-color: rgb(14, 13, 13);
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 16px;
  }
}

.nav_1 {
  font-size: 1.5rem;
  line-break: 5px;
  margin-inline-start: 42.5rem;
}

/*image and text for about me page below*/
.my_image {
  size: 100px;
  border-radius: 40px;
  padding: 10px;
  width: 200px;
  height: 120px;
}

.my_text {
  font-size: 25px;
  text-align: center;
}

.my_image {
  size: 100px;
  height: 300px;
}
/*image and text for about me page ends here*/

/* css for skills page starts*/
.Skills__me {
  font-size: 22px;
  color: rgb(0, 0, 0);
  border-image-width: inherit;
  margin-top: 4rem;
  padding: 4rem;
  background-color: rgb(197, 196, 196);
}
/* css for skills page ends*/

/* css for project page below*/
.Projects_me {
  font-size: 20px;
  text-align: center;
  background-color: rgb(155, 164, 245);
  color: rgb(0, 0, 0);
}
/* css for project page ends*/

/* css for contact page below */
.Contact_me {
  background-color: aqua;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-top: 4rem;
  text-align: center;
}
/* css for contact page ends*/

body,
html {
  height: 100%;
}

.footer {
  text-align: center;
}

/* My hero image/Index page */
.hero-image {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61nginfjF9L._SX466_.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  font-size: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
