* 



body {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    padding-top: 6rem;
    margin-right: 4rem;
}

.email {
     width: 30rem;
        border-style: solid;
        padding: 20px;
        align-items: inherit;
        background-color: rgb(189, 234, 245);
      }
