

.main-header__title {
    color: rgb(113, 167, 52);
    
}
.main-header__title {
    background-image: url("http://lorempixel.com/125/125/abstract/6/cc");

    


}
.about_me {
    color: rgb(106, 51, 209);
}