
}

.nav_1 {
  font-size: 1.5rem;
  line-break: 5px;
  margin-inline-start: 42.5rem;
}

/*image and text for about me page below*/
.my_image {
  size: 100px;
  border-radius: 40px;
  padding: 10px;
  width: 200px;
  height: 120px;
}

.my_text {
  font-size: 25px;
  text-align: left;;
}

  img {
      width:125px;
}

  .header__name {
    position: absolute;
    top: 50px;
      size: 20px;
      font-family: 'Dancing Script', cursive, sans-serif;
      margin-left: 35rem;
    
  }
  img {
    border-radius: 50%;
  }
  .hr {
      border-top: solid pink;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 16px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 30%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    size: 4rem;
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  