* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  img {
      width:125px;
  }


.my__name {
  text-align: center;
  
}
.content-about {
display: flex;
flex-direction: inherit;

}

  .header__name {
    position: absolute;
    top: 50px;
      size: 20px;
      font-family: 'Dancing Script', cursive, sans-serif;
      margin-left: 35rem;
    
  }
  img {
    border-radius: 50%;
  }
  .hr {
      border-top: solid pink;
  }
  
  /* Center website */
  .main {
    max-width: 100%;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  
  .row,
  .row > .column {
    padding: 16px;
  }
  
  
  .column {
    float: left;
    width: 30%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    size: 2rem;
    background-color: white;
    padding: 10px;
  }
  
  footer {
     display: flex;
    justify-content: 50%;
    justify-content: space-between;
  
  }
  
  /* Responsive layout */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    @media screen and (max-width: 900px) {
      .header__name {
        width: 100%;
      }
    }

    
 .hr2 {
   border-top: solid pink;
 }

  }
  